/* NAVBAR */
#main-navbar a {
  border-bottom: 3px solid #ffc0cb;
  text-transform: uppercase;
}

.text-pink {
  color: pink;
}
.bg-pink {
  background-color: pink;
}
#main-navbar a:hover,
#main-navbar .active {
  border-bottom-color: black;
  transition: border-color 500ms;
}
.logo {
  height: 70px;
  margin-right: 5px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

/* SHOWCASE */
#showcase {
  background: url("https://i.imgur.com/DdWpn7K.jpeg");
  height: 600px;
  padding-top: 150px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#showcase h1 {
  padding-top: 250px;
}
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 600px;
}
.card-md-top {
  max-height: 275;
}
/* FORM */
.form-container {
  background-color: pink;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

label {
  margin-bottom: 10px;
  font-size: 14px;
}

input[type="checkbox"] {
  margin-right: 10px;
  display: inline-block;
}
#submit-form {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submit-form:hover {
  background-color: #0056b3;
}

#warning {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
/* LOGO CONTAINER */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.logo-image {
  width: auto;
  height: 50px;
  margin-right: 30px;
}
#review .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.review-card {
  width: 30%;
  margin-bottom: 10px;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.review-card h5 {
  margin-top: 0;
  font-size: 1.2rem;
  text-align: left;
}
.review-card p {
  line-height: 1.4;
  font-size: 0.9rem;
  text-align: left;
  color: #666;
}
.review-card .author {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.testi-image {
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
.testi-nama {
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 0.8rem;
  text-align: left;
}
.testi-date {
  font-size: 0.8rem;
  color: #666;
  text-align: left;
}
